@{
    ViewData["title"] = "Home";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col text-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-journal-code" style="font-size: 120px;">
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
            <path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"></path>
        </svg>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h1 style="font-family: 'Nanum Gothic Coding', monospace;">Kate Lin's Diary</h1>
        <p style="font-family: 'Nanum Gothic Coding', monospace;">학생 개발자의 별 볼일 없는 프로그래밍 이야기</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col text-right">
        <p style="font-family: 'Nanum Gothic Coding', monospace;">··· Featured Articles</p>
    </div>
</div>
<div class="row">
    <div class="col" style="padding: 15px;" hidden="@ViewBag.postsData.Equals(null)">
        @if (!ViewBag.postsData.Equals(null))
        {
            foreach (var posts in ViewBag.postsData)
            {
                <div class="card mb-4">
                    <div class="card-body" style="box-shadow: 0px 0px 20px rgb(224,224,224);padding-left: 7px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col-xl-12 offset-xl-0" width="100%">
                                <h1 style="font-family: 'Nanum Gothic Coding', monospace;font-size: 30px;"><a style="color: black;" href="Post/@posts.Id">@posts.Title</a></h1>
                                <p style="font-family: 'Nanum Gothic Coding', monospace;margin-top: -10px;">@posts.Description</p>
                                <p class="text-right" style="font-family: 'Nanum Gothic Coding', monospace;margin-bottom: 0px;">@posts.Date</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col text-center" style="padding: 15px;" hidden="@(!ViewBag.postsData.Equals(null))">
        <p>등록된 글이 없습니다.</p>
    </div>
</div>